name: Run tests on Java 8

on: push
 
jobs:
  test:
    runs-on: ubuntu-22.04
    name: Run unit tests on Java 8
    steps:
      - uses: actions/checkout@master
      - name: Setup java
        uses: actions/setup-java@v4.5.0
        with:
          java-version: 8
          distribution: zulu
      - run: mvn -f pom.xml test
